@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-bottom: 4px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


:root {
    font-family: inter, sans-serif;
    --text-primary: #19191D;
    --text-secondary: #2264D1;
    --gray-70: #4A4B57;
    --gray-60: #5A5B6A;
    --gray-50: #787885;
}



body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

nav {
    margin: 0px 16px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1920px;
    height: 80px;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#logo-part {
    display: flex;
    align-items: center;

}

#the-logo {
    max-width: 200px;
    width: 120px;
    height: 40px;
    padding: 16px 12px;
    margin-right: 1px;
}

#logo-part div {}

.Intro-links {

    color: var(--gray-60);
    text-decoration: none;
    font-weight: 500;
    padding: 6px 16px;
    margin: 20px 0px;

}

#search-bar {
    background-color: #EDEDF0;
    width: 24rem;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 99px 99px 99px 99px;

}

.fa-search {
    margin: 0;
    margin-left: 15px;
    color: #4d4d92;
    width: 17.5px;
    height: 17.5px;

}

#search {
    width: 20rem;
    height: 30px;
    margin: 0;
    margin-left: 6px;
    color: var(--text-primary);
    border: none;
    outline: none;
    background: transparent;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    ;
    align-items: center;
}

.nav-but {
    margin-left: 18px;
    border: solid 1px #9DC2FF;
    padding: 4px 8px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(41, 121, 255, 0.2)
}

.nav-list .nav-items .nav-link {
    margin: 0;
    text-decoration: none;
    color: var(--text-secondary);
}

#con-link {
    padding: 4px 8px;
    margin-right: 90px;
}


#profile {
    padding: 16px;
    /* margin-right: 16px; */
}




#profile-img {

    width: 40px;
    height: 40px;
    border-radius: 50%;


}

#categories {
    margin: 80px auto 0 auto;
    padding: 16px 0px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;

}


#categories-list {
    margin: 0px 40px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 12px;
}

.category-link {
    padding: 8px 4px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #787885;
    
}

.category-link:hover {
    background-color: #EBF2FF;
}

.category-text {
    display: block;
}

.active-category {
    color: #2979FF;
}


#product-listing{
    box-sizing: border-box;
    max-width: 1120px;
    border: black 1px solid;
    margin: 0 40px 0 25vw;
}

#priorities{
    margin-top: 24px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#sorting{
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 16px 0px 0px 16px;

}

#priorities *, *::after, *::before {
    box-sizing: border-box;
}

#sorting div select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: inherit;
    outline: none;
}

.select{
    position: relative;
    width: 100%;
    min-width: 156px;
    
    border: 1px solid #B4B4BB;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 0px 16px 0px 0px;
    font-size: 14px;
    cursor: pointer;
    line-height: 140%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: grid;
    grid-template-areas: "select";
    align-items: center; */

}

.select::after{
    content: "";
    width: 12px;
    height: 6px;
    background-color: #787885;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/* #sorting div select, .select:after{
    grid-area: select;
}

.select:after{
    justify-self: end;
} */

#sorting div select:focus + .focus{
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid blue;
    border-radius: inherit;
   
}

#useless{
   
    color: #19191D;
    font-weight: 700;
    border: 1px solid #5A5B6A;
}

#view-options-div{
    margin: 16px 0px 0px 50px;
}

.view-options{
    margin: 0;
    width: 100%;
    min-width: 260px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: #EBF2FF;
    border-radius: 4px;
    font-size: 14px;
    color: #5A5B6A;
    
    

}

.blue{
    padding: 10px 12px;
    list-style: none;
    background-color: #EBF2FF;
    border-radius: 4px;
    font-size: 14px;
    color: #5A5B6A;
    
    
}

.high{
    background-color: white;
    color: #2264D1;
    box-shadow: 0px 2px 4px rgba(41, 121, 255, 0.24);
    box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24);
    font-weight: 700;
}

#last{
    margin: 16px 16px 0px 16px;
    /* border: black 1px solid; */
}

.view-div{
    width: 100%;
    min-width: 72;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 24px;
    color: #787885;
    background-color: #EBF2FF;
    border-radius: 4px;
    /* border: black 1px solid; */


}

.view-div li{
    padding: 2px 20px;
    /* border: black 1px solid; */
}

/* .view-div li a{
    
    padding: 0;
    margin: 0;
    border: black 1px solid;
} */

#view-icon{
    font-size: 24px;
    padding: 0 ;
    margin-top: 4px;
    /* border: black 1px solid; */
}

.grid-link{
   
    padding: 0;
    margin: 0;
    /* border: black 1px solid; */

}

.grid-highlight{
    background-color: white;
    color: #2264D1;
    box-shadow: 0px 2px 4px rgba(41, 121, 255, 0.24);
    box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24);
    border-radius: 4px;
    
}